.helper-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 1800px;
    background-color: #BFBFBF;
}
.helper-text1{
    font-size: 25px;
    width: 80%;
}
.helper-title{
    font-size: 45px;
    border: 5px solid #1D5A54;
    background-color: #E5E5E5;
    border-radius: 50px;
    padding: 10px;
    width: 500px;
    text-align: center;
    margin-top: 50px;
    color: #1D5A54;
}
.helper-contenytblock1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 300px;
    background-color: #1D5A54;
    font-size: 25px;
}
.advice-cont{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 950px;
}
.advice{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    background-color: #1D5A54;
    border: 5px solid #E5E5E5;
    border-radius: 25px;
    width: 450px;
}
.advice-title{
    font-size: 30px;
    border: 5px solid #BFBFBF;
    background-color:  #E5E5E5;
    color: #1D5A54;
    border-radius: 50px;
    padding: 10px;
}
.advice-text{
    font-size: 25px;
    width: 400px;
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .helper-container{
        height: 3000px;
    }
    .advice-cont{
        height: 2000px;
    }
    .helper-title {
    font-size: 32px;
    border: 5px solid #1D5A54;
    background-color: #E5E5E5;
    border-radius: 50px;
    padding: 10px;
    width: 250px;
    text-align: center;
    margin-top: 50px;
    color: #1D5A54;
}
.helper-text1 {
    font-size: 17px;
    width: 80%;
}
.advice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    background-color: #1D5A54;
    border: 5px solid #E5E5E5;
    border-radius: 25px;
    width: 95%;
}
    .advice-text {
        font-size: 17px;
        width: 250px;
        text-align: center;
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .helper-container{
        height: 3000px;
    }
    .advice-cont{
        height: 2000px;
    }
    .helper-title {
    font-size: 45px;
    border: 5px solid #1D5A54;
    background-color: #E5E5E5;
    border-radius: 50px;
    padding: 10px;
    width: 350px;
    text-align: center;
    margin-top: 50px;
    color: #1D5A54;
}
    .helper-text1 {
        font-size: 28px;
        width: 80%;
    }
.advice {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 400px;
    background-color: #1D5A54;
    border: 5px solid #E5E5E5;
    border-radius: 25px;
    width: 95%;
}
    .advice-text {
        font-size: 26px;
        width: 650px;
        text-align: center;
    }
}