h1, h2,h3, p, Link, .step-link{
    font-family: "SN Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    /* text-decoration: none; */
    color: white;
}
.home_container, .home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home_container{
    max-height: 1900px;
}
.home{
    max-height: 1700px
}

.intro-image{
    min-height: 800px;
    /* background-image: url({`${import.meta.env.BASE_URL}background1.svg`}); */
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content-block1{
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 50px; */
}
.main_title{
    font-size: 96px;
    color: #1D5A54;
    /* width: 100%; */
    /* text-align: center; */
}
.textBlock{
    width: 800px
}
.intro_text{
    font-size: 32px;
    color: #1D5A54;
    /* width: 100%; */
    text-align: left;
}
.text3{
    font-size: 24px;
}
.steps-text{
    font-size: 25px;
}
/* стрілка */
.arrow-down {
    margin: 30px;
}
.arrow-down span {
    display: block;
    width: 80px;
    height: 80px;
    border-bottom: 8px solid #1D5A54;
    border-right: 8px solid #1D5A54;
    border-radius: 10px;
    transform: rotate(45deg);
    margin: -16px;
    animation: arrow-down 2s infinite;
}
.arrow-down span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow-down span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes arrow-down {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}
.steps{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    height: 900px;
}
.steps_left-block{
    width: 50%;
    height: 800px;
    background-size: cover;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.steps_right-block{
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}
.circle{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #1D5A54;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding:10px;
}
.letter_block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    /* font-size: 35px; */
    border-radius: 0 50px 50px 0;
    background-color: #1D5A54;
    color: white;
    width: 550px;
    height: 400px;
    padding-left: 20px;
}
.steps_title{
    font-size: 35px;
    border-radius: 50px 0 0 50px;
    background-color: #1D5A54;
    color: white;
    width: 700px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.step{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    border-radius: 50px 0 0 50px;
    background-color: #1D5A54;
    height: 100px;
    width: 500px;
    padding: 20px;
    color: white;
    font-size: 25px;
}
.text-block-steps{
    text-align: center;
    width: 300px;
    margin-left: 20px;
}
.text1{
    font-size: 26px;
}
.text2{
    font-size: 24px;
    font-style: italic;
}
.letter_block h3{
    font-size: 35px;
}

@media screen and (min-width: 250px) and (max-width: 768px) {

.home_container{
    min-height: 1750px;
}
.home{
    height: 1550;
}
.intro-image {
    min-height: 350px;
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 2px solid black; */
}
.main_title{
    font-size: 45px; 
    color: #1D5A54;
    margin-bottom: 20px;
    /* width: 100%; */
    /* text-align: center; */
}
.content-block1{
    width: 100%;
    margin-top: 10px;
}
.arrow-down {
    display: none;
}
.textBlock{
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro_text {
    font-size: 18px;
    color: #1D5A54;
    max-width: 250px;
    text-align: left;
}


.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 5px solid rgb(255, 0, 0); */
    height: 1200px;
}

.steps_left-block {
     width: 100%;
    height: 500px;
    background-size: cover;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.circle {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        background-color: #1D5A54;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 10px;
        margin-bottom: 20px;
}
.text3 {
    font-size: 15px;
}
.letter_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        /* font-size: 35px; */
        border-radius: 0;
        background-color: #1D5A54;
        color: white;
        width: 100%;
        height: 250px;
        padding: 10px;
        /* margin-bottom: 30px; */
}
.letter_block_title {
    color: #00e7d1;
}
.text1-5{
    font-style: normal;
    font-size: 17px;
}
.text2{
    font-size: 17px;
    font-style: italic;
}
.steps_right-block {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.steps_title{
    font-size: 35px;
    border-radius: 0;
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
}
.steps_title_text{
    color: #1D5A54;
    font-size: 36px;
}
.step{
    width: 90%;
    align-self: flex-start;
    border-radius: 0 50px 50px 0;
    height: 100px;
}
.step-link{
    font-size: 15px;
    text-align: center;
}
.steps-text{
    font-size: 15px;
    text-align: center;
}
.text{
    font-size: 16px;
    font-style: italic;
}



.text-block-steps {
    text-align: center;
    width: 500px;
    margin-left: 20px;
}
p{
    font-size: 15px;
}
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .main_title{
    font-size: 45px;
    color: #1D5A54;
    /* width: 100%; */
    /* text-align: center; */
}
.arrow-down {
    display: none;
}
    .intro_text {
        font-size: 16px;
        color: #1D5A54;
        /* width: 100%; */
        text-align: center;
    }
.steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    /* border: 1px solid black; */
    height: 900px;
}
.letter_block {
            display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        /* font-size: 35px; */
        border-radius: 0;
        background-color: #1D5A54;
        color: white;
        width: 100%;
        height: 250px;
        padding-left: 20px;
        margin-bottom: 30px;
}
.steps_left-block {
     width: 100%;
    height: 800px;
    background-size: cover;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
    .circle {
        width: 200px;
        height: 170px;
        border-radius: 50%;
        background-color: #1D5A54;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        align-self: center;
        padding: 10px;
        margin-bottom: 20px;
    }
.letter_block_title {
    color: #00e7d1;
}
.text{
    font-size: 16px;
    font-style: italic;
}
.steps_title{
                font-size: 35px;
        border-radius: 0;
        background-color: #ffffff;
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
}
    .steps_right-block {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-around;
        margin-top: 75px;
    }
.step{
    display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        border-radius: 0;
        background-color: #1D5A54;
        height: 80px;
        /* width: 400px; */
        padding: 20px;
        color: white;
        font-size: 18px;
        margin-bottom: 5px;
}
.home_container{
    height: 1700px;
}
.intro-image {
    min-height: 350px;
    background-image: none;
    background-size: cover;
    background-position: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text3{
    font-style: normal;
    font-size: 18px;
    text-align: center;
}
.steps_title_text{
    color: #1D5A54;
}
.text-block-steps {
    text-align: center;
    width: 500px;
    margin-left: 20px;
}
p{
    font-size: 18px;
}
}
