.mainLvl2{
    height: 1800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: aquamarine; */
     background-color: #BFBFBF;
}
.title{
    color: #1D5A54;
    font-size: 64px;
    margin-top: 50px;
    padding: 10px;
    border: 5px solid #1D5A54;
    border-radius: 50px;
}
.contentBlock{
    width: 100%;
    height: 450px;
    background-color: #1D5A54;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.imageLv2{
    height: 270px;
    /* min-width: 250px; */
}
.textBlock{
    width: 60%;
}
.text{
    font-size: 30px;
    text-decoration: none;
}
.title2{
    font-size: 54px;
    color: #1D5A54;
}
.professionsList{
    display: flex;
    width: 80%;
    min-height: 800px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

}
.professionsList link{
    text-decoration: none;
}
.links{
    width: 500px;
    height: 100px;
    background-color: #1D5A54;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #38b4a7;
}
.links::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* Змінив колір на більш контрастний */
            background-color: #08B2AD; 
            transform: scaleX(0);
            transform-origin: left; /* Заповнення зліва направо */
            transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: -1;
        }

        /* Активація анімації при наведенні */
        .links:hover::before {
            transform: scaleX(1);
        }

        .links:hover {
            color: #ffffff; /* Залиште колір тексту білим або змініть за потреби */
        }
.ProfLink{
    text-decoration: none;
}

@media screen and (min-width: 250px) and (max-width: 768px) {
    .mainLvl2{
    height: 2000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: aquamarine; */
}
.contentBlock{
    width: 100%;
    height: 600px;
    background-color: #1D5A54;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.text {
    font-size: 15px;
    text-decoration: none;
}
.imageLv2 {
    height: 130px;
    /* min-width: 250px; */
}
.links {
    width: 250px;
    height: 100px;
    background-color: #1D5A54;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #38b4a7;
}
.links::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* Змінив колір на більш контрастний */
            background-color: #08B2AD; 
            transform: scaleX(0);
            transform-origin: left; /* Заповнення зліва направо */
            transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
            z-index: -1;
        }

        /* Активація анімації при наведенні */
        .links:hover::before {
            transform: scaleX(1);
        }

        .links:hover {
            color: #ffffff; /* Залиште колір тексту білим або змініть за потреби */
        }
.professionsList {
    display: flex;
    width: 100%;
    min-height: 800px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title {
    color: #1D5A54;
    font-size: 35px;
    margin-top: 50px;
    padding: 10px;
    border: 5px solid #1D5A54;
    border-radius: 50px;
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .mainLvl2{
    height: 2000px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* background-color: aquamarine; */
}
.contentBlock{
    width: 100%;
    height: 500px;
    background-color: #1D5A54;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-evenly;
}
.text {
    font-size: 20px;
    text-decoration: none;
}
.imageLv2 {
    height: 250px;
    /* min-width: 250px; */
}
.links {
    width: 350px;
    height: 100px;
    background-color: #1D5A54;
    color: white;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    border: 5px solid #38b4a7;
}
.professionsList {
    display: flex;
    width: 100%;
    min-height: 800px;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.title {
    color: #1D5A54;
    font-size: 45px;
    margin-top: 50px;
    padding: 10px;
    border: 5px solid #1D5A54;
    border-radius: 50px;
}
.ProfTitle{
    text-align: center;
}
}

