.header{
    /* padding: 20px; */
    background-color: #1D5A54;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: inherit ;
}
.logo{
    height: 70px;
    /* width: 80px; */
}